html, body, * {
    margin: 0;
    padding: 0;
}

/* Page de connexion */

.body-connexion {
    background-color: #2BA1AE;
    padding-top: 25vh;
}

.container-connexion {
    height: 48vh;
    border-radius: 60px;
}

.titre-connexion {
    color: #2BA1AE;
    font-size: 30px;
    font-weight: bold;
}

.label-connexion {
    font-size: 20px;
    color: #2BA1AE;
}

.input-connexion {
    color: #2BA1AE;
    border: 1px solid #2BA1AE;
    height: 50px;
    width: 100%;
}

.bouton-connexion {
    background-color: #2BA1AE;
    border: none;
    padding: 15px 40px 15px 40px;
    color: white;
    font-size: 25px;
}

.centre-bouton-connexion {
    width: 100%;
    text-align: center;
}

.mdp-link {
    color: #2BA1AE;
}

/* Page Ticket Utilisateur */

.container {
	text-align: center;
}

.row1 {
	color: #2BA1AE;
	font-size: 18px;
	font-weight: bold;
}

.alert {
	color: #ffffff !important;
	text-align: center;
	margin-bottom: 0 !important;
}

.alert-dark {
	background-color: transparent !important;
	padding: 15px !important;
	margin-left: -15px;
	margin-right: -15px;
	border: 20px solid;
}

.alert-danger {
	background-color: #B13333 !important;
	border: none !important;
}

.alert-primary {
	background-color: #3359B1 !important;
	border: none !important;
}

.alert-success {
	background-color: #33B137 !important;
	border: none !important;
}

.alert-warning {
	background-color: #E68608 !important;
	border: none !important;
}

/* Intérieur Ticket */

.body-ticket {
    margin: 0;
}

.row-ticket {
    width: 100vw;
}

.container-ticket {
    width: 100vw;
}

.menu-gauche-ticket {
    background-color: white;
    padding: 0;
    height: 100vh;
}

.ticket-content {
    padding: 0;
}

.user {
    padding: 19px 28px 19px 28px;
    border-radius: 0 0 50px 50px;
    color: #2BA1AE;
}

.user img {
    margin-right: 12px;
}

.user-name {
    font-size: 20px;
    margin-bottom: 1px;
}

.user-type {
    font-size: 15px;
}

.menu {
    padding: 30px;
    height: 80vh;
    border-radius: 0 0 50px 50px;
    background-color: #2BA1AE;
}

.menu ul {
    list-style-type: none;
    color: white;
    font-size: 22px;
}

.menu ul li {
    margin-bottom: 25px;
    margin-left: 25px;
}

.selected {
    color: #2BA1AE;
    height: 50px;
    padding: 9px 25px 12px 25px;
    margin-left: 0 !important;
}

.disconnection {
    color: #2BA1AE;
    text-align: center;
    font-size: 22px;
    padding: 20px 0 0 0; 
}

.ticket-content {
    background-color: #2BA1AE;
    color: white;
    padding: 40px;
}